;; shadow-cljs configuration
{:deps true

 :builds
 {:app
  {:target :react-native
   :init-fn app.main/init
   :devtools {:autoload true}
   :output-dir "js"
   :js-options {:js-package-dirs ["node_modules"]}}}}
